
/* Common properties */
input, 
select, 
textarea {
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  outline: 1px solid var(--stroke-default);
  border: 0.125rem solid transparent;
  font: var(--text-md);
  color: var(--text-primary);
  background-color: var(--surface-primary);
}

/* Focus properties */
input:focus, 
select:focus,
textarea:focus,
input:focus-within {
  border-color: var(--stroke-highlight);
  outline-width: 0.25rem;
  outline-color:  var(--surface-secondary);
  outline-offset: 0.1px;
}


/* Placeholder properties */
input, textarea {
  &::placeholder {
    color: var(--text-tertiary);
  }
}

select:required:invalid {
  color: var(--text-tertiary);

  option:not([value=""]) {
    color: var(--text-primary);
  }
}


/* Input type date, select and textarea icons*/
input[type="date"] { 
  position: relative;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &::after {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    background: url("../../assets/icons/calendar.svg") no-repeat center center/contain;
  }

}

textarea::-webkit-resizer {
  background-image: url("../../assets/icons/resize-handler.svg");
  background-position: calc(100% - 0.25rem) calc(100% - 0.25rem);
}

select {
  background: url("../../assets/icons/arrow-down.svg") no-repeat calc(100% - 1rem) center;

  &:focus {
    background-image: url("../../assets/icons/arrow-up.svg");
  }
}


/* Disabled and invalid fields */
#address-info .flex {
  gap: 1.25rem;
}

.input-wrapper:has([disabled]){
  opacity: 0.5;
}

input {

  &[disabled] {
    background-color: var(--surface-disabled);
  }

  & + .error {
    display: none;
  }

  &:not(:focus):invalid {
    border-color: var(--semantic-error);
    outline: none;

    & + .error {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      margin-top: 0.25rem;
      color: var(--semantic-error);
      font: var(--text-sm);
    }
  }

  & + small {
    font: var(--text-sm);
    color: #78716C;
    display: inline-block;
    margin-top: 0.25rem;
  }
}


